# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#sln files
*.filters
*.sdf
*.opensdf
*.suo
*.user
*.ipch

#additionals
includes/boost/**/
includes/boost/**/*.h
includes/boost/**/*.hpp
includes/boost/**/*.ipp

#sln folders
/**/Debug
/**/Release
ForexConnectClient/**/x64
/**/ipch

#files
src/ForexConnectClient/**/ReadMe.txt
/src/ForexConnectClient/forex.connect/x64
settings.py
*.pyc
/src/ForexConnectClient/fx.market.watcher/.idea
